<header class="p-3 mb-3 border-bottom" id="header">
  
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center  justify-content-start">
        <div class="toggle-menu mb-2 ">
          <div class="burger-line"></div>
          <div class="burger-line"></div>
          <div class="burger-line"></div>
        </div>
        <a href="/" class="d-flex align-items-center mb-2 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>
    </div>
  </header>