
<div class="row align-middle border-bottom px-0 py-2">
  <div class="col">{{product.price}}</div>
  <div class="col">{{product.name}}</div>
  <div class="col">{{product.description}}</div>
  <div class="col text-end">
    <div class="col text-end">
      <div class="d-flex flex-row justify-content-end gap-2">
        <button type="submit" class="btn btn-warning btn-sm" (click)="onEdit()">
          <i class="bi bi-pencil"></i>
          </button>
        
        <div class="position-relative">
          <button type="submit" class="btn btn-danger btn-sm" (click)="onDelete()">
            <i class="bi bi-person-x"></i>
          </button>
        </div>
      </div>
    </div>

</div>
</div>
