<div class="modal-header py-1 border-0">
	<h4 class="modal-title">New Transaction</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
	<div class="card">
		
		<div class="card-body  mt-5">
			<form [formGroup]="transactionForm"  class="m-0" (ngSubmit)="onSubmit()">
				<div class="col-auto mb-3">
				  <input formControlName='transactionDate'  type="date"  class="form-control"
				  value="2018-07-22" min="2018-01-01"  id="transactionDate" placeholder="Transaction Date">
				</div>
				<div class="col-auto mb-3">
					<label for="typeahead-focus">Search for a Shop:</label>
					<input formControlName='shopName'  type="text"  class="form-control"
					  id="shop" placeholder="Choose a shop"
					[ngbTypeahead]="search"
					(ngModelChange)="onShopSelected($event)"
					[ngClass]="{'is-invalid': !selectedShop?.id && transactionForm.get('shopName').touched}"
					  >	
					  <input type="hidden" formControlName="shopId" [value]="selectedShop?.id">
					  <span class="help-block text-center" *ngIf="!selectedShop?.id && transactionForm.get('shopName').touched" >No Such Shop</span>
					</div>
				<div class="col-auto d-flex justify-content-center">
				  <button  type="submit" class="btn btn-primary mb-3" [disabled]="!transactionForm.valid || !selectedShop?.id">Submit</button>
				</div>
				<div class="col-auto d-flex justify-content-center" *ngIf="!transactionForm.valid && transactionForm.touched">
					<span class="help-block text-center">Please fill the required fields</span>
				</div>
			  </form>
		
		</div>
	</div>
</div>
<div class="modal-footer py-0 border-0">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

