
  <nav id="sidebar-menu" [class.show-sidebar]="isSidebarVisible">
    <div class="menu-links">
      <a routerLink="transactions" routerLinkActive="selected-link" class="link menu-link select" >
        <i class="fal fa-calendar-alt menu-link-icon select"></i>
        <p class="menu-link-text select" >Transactions</p>
      </a>
      <a routerLink="products" routerLinkActive="selected-link" class="link menu-link select" >
        <i class="fal fa-calendar-alt menu-link-icon select"></i>
        <p class="menu-link-text select" >Product List</p>
      </a>
      <a routerLink="shops" routerLinkActive="selected-link"  class="link menu-link select">
        <i class="fal fa-calendar-week menu-link-icon select"></i>
        <p class="menu-link-text select">Shops</p>
      </a>
      <a routerLink="analytics" routerLinkActive="selected-link" class="link menu-link select">
        <i class="fal fa-calendar-star menu-link-icon select"></i>
        <p class="menu-link-text select">Analytics</p>
      </a>
    </div>
   <!-- Settings -->
    <div id="settings">
      <div class="settings">
      </div>
      <div class="settings-links-div">
        <a routerLink="settings" routerLinkActive="selected-link" class="link setting-link setting select" >       
            <i class="fal fa-fw setting-icon setting select  fa-tools"></i>
            <p class="setting-text setting select" >Settings</p>
          
            <div class="setting-default-icons-div setting select" >
              <i class="fal fa-edit setting setting-icon edit-setting select scale-element "></i>
              <i class="fal fa-trash-alt setting setting-icon delete-setting select scale-element"></i>
            </div>
          </a>
        </div>
    </div>
  </nav>
  <header class="p-3 mb-3 border-bottom" id="header">
    <a routerLink="" class="d-flex align-items-center mb-2  px-2 link-body-emphasis text-decoration-none">
      <img [src]="imagePath" alt="Logo" width="50" height="50">
   </a>
    <div class="container">
      
      <div class="d-flex flex-wrap align-items-center  justify-content-start">
        <div class="toggle-menu mb-2"[class.clicked]="isSidebarVisible" (click)="toggleSidebar()">
          <div class="burger-line"></div>
          <div class="burger-line"></div>
          <div class="burger-line"></div>
        </div>
        
      </div>
    </div>
  </header>
  
  <div class="container-fluid" id="router">
    <div class="row">
      <div class="col-12 col-md-8 py-5 m-auto ">
        <router-outlet></router-outlet>
      </div>
    </div>
   
  </div>



  