<div class="container mt-3">
  
    <div class="row">
      <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"  >Transaction Date</th>
                    <th scope="col"  >Shop</th>
                    <th scope="col"  >Total Spent</th>
                    <!-- <th scope="col">
                        <form>
                        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                        </form>
                    </th> -->
                </tr>
            </thead>
            <tbody>
                @for (trans of transactions ; track trans.date ) {
                    
                    <tr>
                        <td scope="row">{{ trans.date  }}</td>
                        <td>{{trans.shop}}</td>
                        <td>{{ totalSpent[trans.id]}} {{currency.symbol}}</td>
                        <td class="text-end"> 
                          <div class="d-flex flex-row justify-content-end gap-2">
                            <button type="submit" class="btn btn-warning btn-sm" (click)="navigateToTransactionItem(trans.id)">
                                <i class="bi bi-pencil"></i>
                                </button>
                                <button type="submit" class="btn btn-danger btn-sm" (click)="onDelete(trans.id)">
                                    <i class="bi bi-person-x"></i>
                                </button>

                          </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col pt-2 d-flex justify-content-center">
            <button  class="btn btn-primary text-center" 
            (click)="open()"
            >Create New
          </button>
          </div>    </div>
  </div>
</div>

    
    
   