<div class="container mt-3">
  
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-betweeen">
            <div class="input-group">
                <form>
                    <input  class="form-control"   placeholder="Search"  type="text" [formControl]="filter"/>
                </form>
            </div>
            <div>
                <ngb-pagination
                [collectionSize]="collectionSize"
                [(page)]="currentPage"
                [pageSize]="itemsPerPage"
                (pageChange)="onPageChange($event)">
            </ngb-pagination>
            <button  class="btn" style="background-color:#00B3BB; color: white;"  (click)="open()">Create New</button>
            </div>
        </div>
        @if(isLoading){
            <div  style="text-align: center!important;">
                <app-loading-spinner ></app-loading-spinner>
            </div>
            
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" sortable="id">Transaction Date</th>
                    <th scope="col" sortable="name">Shop</th>
                </tr>
            </thead>
            <tbody>
                @for (trans of transactions$ | async; track trans.id) {                   
                    <tr>
                        <td scope="col">{{ trans.date  }}</td>
                        <td><ngb-highlight [result]="trans.shopName" [term]="filter.value"></ngb-highlight></td>
                        <!-- <td>{{trans.shopName}}</td> -->
                        <td class="text-end"> 
                          <div class="d-flex flex-row justify-content-end gap-2">
                            <button type="submit" class="btn btn-warning btn-sm" (click)="navigateToTransactionItem(trans.id)">
                                <i class="bi bi-pencil"></i>
                                </button>
                                <button type="submit" class="btn btn-danger btn-sm" (click)="onDelete(trans.id)">
                                    <i class="bi bi-x"></i>
                                </button>

                          </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table> 
        </div>
  </div>
</div>

    
    
   