.modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-box {
    margin: 10% auto;
    width: 600px;
    background-color:  #D4B4CB;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }